@import url(common.scss);

main{
  height: 85.8em;
  padding: 64px 0;
}

/* 검색창 */
.search_box{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  height: 7.3%;
  min-height: 53px;
}

.search_inner{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88%;
  height: 50%;
  background-color: #f1f2f4;
  border-radius: 5px;

  >i{
    font-size: 16px;
    color: #bebcc1;
    align-self: center;
    margin-left: 15px;
  }

  >input{
    flex:1;
    background: transparent;
    border:none;
    padding: 0 15px;

    &::placeholder{
      text-align: center;
    }
  }
}

/* main_section */
.main_section{
  >header{
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
    
    border-left:none;
    color: #b6b5b1;
  }

  >ul{

    >li{

      >a{
        display:flex;
        flex-wrap: wrap;
        font-size: 16px;
        align-items: center;
      }
    }
  }
  
  .chats_img{
    width:50px;
    height: 50px;
    margin: 15px;
  }

  .chats_cont{
    flex:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: #8e9399;
    font-size: 14px;

    .chats_name{
      color: #000;
      font-weight: bold;
      margin-bottom: 5px;}
  }
  .chats_time{
    margin-right: 15px;
    font-size: 12px;
    color: #8e9399;
  }
}

/* floating action bar */
.chat_fa_btn{
  position: fixed;
  right: 20px;
  bottom: 80px;

  >a{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #ffeb4c;
    border-radius: 50%;
    box-shadow: 0 2px 6px #0004;
    font-size: 18px;
    color: #513736;
    transition: color 300ms linear 0s, background 300ms linear 0s;
    
    
  }
}

.chat_fa_btn{

  >a{

    &:hover{
      background: #513736;
      color: #ffe84c;}
  }
}
