/* find.css */
@import url(common.scss);



/* 검색창 */
.search_box{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 7.3%;
  min-height: 53px;
}

.search_inner{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width: 88%;
  height: 50%;
  background-color: #fff;
  border-radius:5px;
  
  >i{
    font-size: 16px;
    color: #bebcc1;
    align-self: center;
    margin-left: 15px;
  }

  >input{
    flex:1;
    background: transparent;
    border:none;
    padding: 5px 15px;

    &::placeholder{
      text-align: center;
    }
  }
}

/* find-method */
.find_method{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  background: #fff0de;

  >li{
    overflow: hidden;
    flex:1;

    >a{
      display:flex;
      flex-direction: column;
      align-items: center;
      color: #513736;
      transition:transform 300ms linear 0s;

      &:hover{
        transform:scale(1.05)
      }

      >i{
        font-size: 22px;
        margin: 5px 0;
      }
    }
  }
}

/* recommend_section */
.recommend_section{
  header{
    height: 22px;
    line-height: 22px;
    text-indent: 15px;
    color: #8e9399;
  }

  ul{
    li{
      height: 54px;
      line-height: 54px;
      
      text-align: center;
      color: #8e9399;
      font-size: 14px;
    }
  }
}