body{
  
 >header{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 64px;
    display:flex;
    flex-direction: column;
    background: #513736;
    color: #fff;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 100;

    &.chatting{
      height: 32px;
    }

    &.profile{
      background: transparent
    }
  }
}


.status_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 37.5%;

  > div {
    flex: 1;
    border: 1px solid red;

    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;
    }

    > * {
      padding: 3px;
    }
  }
}

  .title_bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62.5%;

    >*{
      flex:1;
      font-size: 16px;
      border:1px solid red;
    }

    >h1{
      order:2;
      text-align: center;
    
      >span{
        color: #f8ea65;
      }
    }

    >.left_item{
      order:1;
      text-align-last: left;

      >a{
        color: #fff;
        opacity: 0.5;
      }
    }

    >.right_item{
      order: 3;
      text-align: right;
      font-size: 20px;

      >a{
        color: #fff;
      }
    }
  }