@import url(common.scss);
@import url(header.scss);
@import url(tab.scss);

body{

  height: 100%;

  &.profile-header-link {
    background-color: #333;
    color: #fff;

    .title_bar{
      >.left_item{
        >a{
          opacity: 1;
          font-size: 24px;
        }
      }
    }
  }
}


.title_bar{
  >.left_item{
    >a{
      opacity: 0.5;
      font-size: 20px;
    }
  }
}

.profile-main{
  position: absolute;
  width: 100%;
  top: 0;
  height: calc(100vh - 10px);
  padding: 0;
  
}

.background{
  position: relative;
  height: 65%;
  background: url(../images/bg_default.png) no-repeat 0 0;
  background-size: cover;
  background-position:center;


  form{
    position: absolute;
    bottom: 20%;
    display:flex;
    flex-direction: column;
    width: 300px;
  }
}

.profile{
  display:flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.profile_center_img{
  position: absolute;
  left: 50%;
  top: -65px;
  width: 100px;
  height: 100px;
  margin-left: -50px;
}

.profile_cont{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;

  input{
    width: 148px;
    height: 24px;
    margin: 15px 20px;
    padding: 0 5px;
    text-align: center;
    border:none
  }
}

.profile_name{
  font-size: 16px;
}

.profile_menu{
  display:flex;

  li{
    margin: 0 6px;

    button{
      cursor:pointer;
      display:flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      background-color: transparent;
      border:none;
    }

    span{
      display:block;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      line-height: 52px;
      text-align: center;
      margin-bottom: 15px;
      background-color: #f2f2f2;
      color: #513736;
      font-size: 28px;
    }
  }
}
